@keyframes text-shadow {
  0% {
    text-shadow: #eeeef0 1px -1px, #eeeef0 2px -2px,
      #eeeef0 3px -3px, #eeeef0 4px -4px,
      #eeeef0 5px -5px, #eeeef0 6px -6px,
      #eeeef0 7px -7px, #eeeef0 8px -8px,
      #eeeef0 9px -9px, #eeeef0 10px -10px 40px;
  }
  20% {
    text-shadow: #eeeef0 -1px -1px, #eeeef0 -2px -2px,
      #eeeef0 -3px -3px, #eeeef0 -4px -4px,
      #eeeef0 -5px -5px, #eeeef0 -6px -6px,
      #eeeef0 -7px -7px, #eeeef0 -8px -8px,
      #eeeef0 -9px -9px, #eeeef0 -10px -10px 40px;
  }

  40% {
    text-shadow: #eeeef0 -1px 1px, #eeeef0 -2px 2px,
      #eeeef0 -3px 3px, #eeeef0 -4px 4px,
      #eeeef0 -5px 5px, #eeeef0 -6px 6px,
      #eeeef0 -7px 7px, #eeeef0 -8px 8px,
      #eeeef0 -9px 9px, #eeeef0 -10px 10px 40px;
  }

  60% {
    text-shadow: #eeeef0 1px 1px, #eeeef0 2px 2px,
      #eeeef0 3px 3px, #eeeef0 4px 4px,
      #eeeef0 5px 5px, #eeeef0 6px 6px,
      #eeeef0 7px 7px, #eeeef0 8px 8px,
      #eeeef0 9px 9px, #eeeef0 10px 10px 40px;
  }

  100% {
    text-shadow: #eeeef0 1px -1px, #eeeef0 2px -2px,
      #eeeef0 3px -3px, #eeeef0 4px -4px,
      #eeeef0 5px -5px, #eeeef0 6px -6px,
      #eeeef0 7px -7px, #eeeef0 8px -8px,
      #eeeef0 9px -9px, #eeeef0 10px -10px 40px;
  }
}

@keyframes rotate-left-to-right {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  5% {
    transform: rotate3d(1, 1, 1, 0.5deg);
  }

  10% {
    transform: rotate3d(1, 1, 1, 1deg);
  }

  15% {
    transform: rotate3d(1, 1, 1, 1.5deg);
  }

  20% {
    transform: rotate3d(1, 1, 1, 2deg);
  }

  25% {
    transform: rotate3d(1, 1, 1, 2.5deg);
  }

  30% {
    transform: rotate3d(1, 1, 1, 2deg);
  }

  35% {
    transform: rotate3d(1, 1, 1, 1.5deg);
  }

  40% {
    transform: rotate3d(1, 1, 1, 1deg);
  }

  45% {
    transform: rotate3d(1, 1, 1, 0.5deg);
  }

  50% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  55% {
    transform: rotate3d(1, 1, 1, -0.5deg);
  }

  60% {
    transform: rotate3d(1, 1, 1, -1deg);
  }

  65% {
    transform: rotate3d(1, 1, 1, -1.5deg);
  }

  70% {
    transform: rotate3d(1, 1, 1, -2deg);
  }

  75% {
    transform: rotate3d(1, 1, 1, -2.5deg);
  }

  80% {
    transform: rotate3d(1, 1, 1, -2deg);
  }

  85% {
    transform: rotate3d(1, 1, 1, -1.5deg);
  }

  90% {
    transform: rotate3d(1, 1, 1, -1deg);
  }

  95% {
    transform: rotate3d(1, 1, 1, -0.5deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}

@keyframes background {
  0% {
    background-position: 0 0, 0 0;
  }
  25% {
    background-position: 0 -25%, 0 25%;
  }
  50% {
    background-position: 0 -50%, 0 50%;
  }
  100% {
    background-position: 0 -100%, 0 100%;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate3d(0, 1, .1, -10deg);
    transform: rotate3d(0, 1, .1, -10deg);
    text-shadow: 1px -1px #f0f0f4, 2px -1px #f0f0f4, 3px -2px #f0f0f4, 4px -2px #f0f0f4, 5px -3px #f0f0f4, 6px -3px #f0f0f4, 7px -4px #f0f0f4, 8px -4px #f0f0f4, 9px -5px #f0f0f4, 10px -5px 40px #ccc
  }
  to {
    -webkit-transform: rotate3d(0, 1, .1, 10deg);
    transform: rotate3d(0, 1, .1, 10deg);
    text-shadow: -1px -1px #f0f0f4, -2px -1px #f0f0f4, -3px -2px #f0f0f4, -4px -2px #f0f0f4, -5px -3px #f0f0f4, -6px -3px #f0f0f4, -7px -4px #f0f0f4, -8px -4px #f0f0f4, -9px -5px #f0f0f4, -10px -5px 40px #ccccd6
  }
}

@keyframes skew {
  from {
    -webkit-transform: scaleY(0.3) skewX(-15deg);
    transform: scaleY(0.3) skewX(-15deg);
  }
  to {
    -webkit-transform: scaleY(0.3) skewX(-20deg);
    transform: scaleY(0.3) skewX(-20deg);
  }
}
