html,
body {
  min-width: 320px;
  overflow: auto;
}

body {
  font-family: $nunito;
  font-size: 16px;
}

a {
  color: $color-content;
  transition: color 0.2s;

  &:hover,
  &:active {
    color: $color-content;
    //color: $color-accent;
  }
}

.icon {
  cursor: pointer;

  & > svg {
    color: $color-content;
    font-size: 22px;
  }
}

.page {
  &__offset {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 480px) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  &__title {
    font-size: 38px;
    font-weight: 700;
    color: $color-content;
    text-transform: uppercase;
    animation: transform 2s ease-in-out;

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 19px;
    font-weight: 300;
    animation: transform 2s ease-in-out;
  }

  &__title,
  &__subtitle {
   &--animation {
     opacity: 0;
   }
  }

  &__button {
    display: inline-block;
    margin: auto;
    padding: 8px 50px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $color-accent;
    color: $color-white;
    border-radius: 4px;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &--background-accent {
    background: linear-gradient(to bottom, #bfe3eb, #ebf5ec);
    background-size: 40px;
    //background: linear-gradient(to bottom, #bfe3eb, #ebf5ec);
    //background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

.mb35 {
  margin-bottom: 35px;
}
